@use 'assets/base';
@use 'assets/colors' as *;
@use 'assets/forms';
@use 'assets/backgrounds';
@use 'assets/typography';
@use 'header';
@use 'footer';
@use 'assets/mixins';

a{
    text-decoration: none;
    color: black;
}

//----------------Artist Info-----------------//
.search{
    @include mixins.flex-center;
    margin: 2rem;
}

.artist-info {
   @include mixins.basic-flex;
    flex-direction: column;
    img{
        @include mixins.box-shadow;
        border-radius: 6px;
        height: auto;
        width: 100%;
    }
    p{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
}

.hidden {
    display: none;
}

.hero-banner-image{
    max-width: 100%;
    height: auto;
}

.hero-banner{
    position: relative;
}

.heading{
    position: absolute;
    top: 10rem;
    left: 5rem;
    h1{
        text-align: left;
        font-size: clamp(1.5rem, 2.5vw, 4rem);
        color: $off-white;
        background-color: #0006;
        padding: 2rem;
        border-radius: 6px;
        max-width: 20ch;
        @include mixins.box-shadow;
    }
}

@media (max-width: 800px) {
    .heading h1 {
        top: -9rem;
        left: -1.5rem;
        position: absolute;
        width: 40ch;
    }

}

.artist-container img{
    height: auto;
    width: 100%;
    @include mixins.box-shadow;
}



@media (max-width: 1280px) {
    .button-container {
            display: flex;
            flex-wrap: wrap;
            padding-left: 2rem;
            margin: 2rem 0;
            align-items: center;
    
            button {
                font-size: 1.8rem
            }
        }
                .artist-container {
                    h1 {
                        width: 80%;
                        margin: 2rem auto;
                    }
                }
}

.artist-bio-container{
    width: 96%;
    margin: 0 auto;

}

@media (min-width: 1300px){
.artist-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 62px);
    /* Set the height of implicit rows */
    grid-gap: 2.75rem;
    /* Add some gap between grid items */
    max-width: 1280px;
    margin: 0 auto;
    }

    .artist-heading-container {
        grid-column: 7 / span 7;
        grid-row: 1;
        color: $hot-pink;
        text-decoration: underline;
    }

    .artist-container img {
        grid-column: 1/ span 6;
        height: auto;
        width: 100%;
        grid-row: 1;
        border-radius: 6px;
        z-index: -2;
    }

    .artist-bio-container {
        grid-column: 7 / span 7;
        grid-row: 3 / span 4;
        color: white;
        padding: 1rem 4rem;
        background: linear-gradient(to top, #f22474, #1a73e8);
        border-radius: 6px;
        display: flex;
        text-align: justify;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.35) 2.4px 2.4px 3.2px;
    }
}

.artist-page-heading{
    background: linear-gradient(to left, #f22474, #1a73e8);
    color: white;
    @include mixins.box-shadow;
    width: 102%;
    padding: 1rem 2rem;
    border-radius: 6px;
}

.show-concerts {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    max-width: 128rem;
    margin: 5rem auto;

}

.concert-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 0rem 2rem;
    max-width: 128rem;
    border-radius: 6px;
    background: $deep-purple;
    color: white;
    border: 1px solid black;
    box-shadow: 10px 10px .5px rgb(249, 160, 63), 10px 10px 1px rgb(249, 160, 63);
}

.where-when{
    display: flex;
    gap: 2rem;
}

.venue-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 6px 6px 0 0;
}

.country {
    display: flex;
    gap: 1rem;
}

.upcoming-button {
    font-family: "poppins";
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(to right, #f22474, #1a73e8);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 16px 24px;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    @include mixins.box-shadow;
}

.button-container{
    grid-row:7 / span 1 ;
    grid-column: 7 / span 4;
    display: flex;
    gap: 2.5rem;
}

.bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid white;
}

.bottom-half a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.hidden {
    display: none;
}

span {
    margin-left: .5rem;
}

.your-rating{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    p{
        text-align: center;
    }
}

.star-rating p{
    text-align: center;
}

.write-review label{
    margin: 0 auto;
    padding: 0rem;
    font-size: 1.8rem
}

textarea {
    @include mixins.box-shadow;
    border-radius: 6px;
    display: flex;
    margin: 0 auto;
    font-size: 1.8rem;
    border: 1px solid black;
    box-shadow: 10px 10px .5px rgba(26, 115, 232, 1), 10px 10px 20px rgba(242, 36, 232, 1);
}

@media (max-width: 650px){
    textarea{
    width: 90%;
    }
}

.stars a {
    color: $electric-blue;
}

.your-rating span {
    color: $electric-blue;
}

.stars {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
    :hover{
        color: black;
    }
}

.review-button {
    font-family: "poppins";
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(to top, rgb(242, 36, 116), rgb(26, 115, 232));
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    margin: 2.5rem auto;
    font-weight: bold;
    padding: 16px 24px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    @include mixins.box-shadow;
        
}

.remove-review-button, .edit-review-button{
        font-family: "poppins";
            font-size: 1.8rem;
            font-weight: bold;
            background: $electric-blue;
            border: none;
            border-radius: 6px;
            color: black;
            border: 1px solid black;
            cursor: pointer;
            font-size: 1.8rem;
            margin: 2.5rem auto;
            font-weight: bold;
            padding: 16px 24px;
            text-align: center;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            @include mixins.box-shadow;
}

.remove-review-button{
    background-color: rgb(216, 31, 31);
    color: white;
}

.your-review-button-container{
    display: flex;
    gap: 2rem;
}

.back-to-search{
    display: flex;
    max-width: 1280px;
    margin: 2rem auto;
    gap: 1rem;
    align-items: center;
    :hover {
        color: $razzmatazz;
    }
}

.back-to-search:hover{
    color: $razzmatazz;
}

.write-review p {
    text-align: center;
}

.review-card-flex-container{
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    gap: 3rem;
    padding-left: 0;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 6rem;
    justify-content: center;

}

@media (max-width:800px) {
    .review-card-flex-container{
            flex-direction: column;
            margin: 0 auto;
            justify-content: center;
            max-width: 80%;
            margin-bottom: 6rem;
        
    }
}

.review-card {
    background-color: #f9a03f;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem 2.5rem;
    min-width: 25%;
    color: $darkclassicblue;
    box-shadow: 10px 10px .5px rgba(2, 221, 221, 1), 10px 10px 1px rgba(2, 204, 204, 1);
    
}

.review-heading{
    text-align: center;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid black;
    p{
        text-transform: capitalize;
    }
}


.user-info img{
    height: 4rem;
    border-radius: 36px;
}

.reviews-buttons{
    display: flex;
    gap: 2rem;
}

.your-reviews-button {
    background: $deep-purple;
    border: none;
    color: white;
    padding: 1rem 2rem;
    height: 4rem;
    border-radius: 6px;
    font-family: "poppins";
    border: 1px solid black;
}

.followed-artist{
    display: flex;
    flex-direction: column;
    max-width: 33%;
    align-items: center;
    img{
    height: 25rem;
    border-radius: 6px;
    @include mixins.box-shadow;
    }
    h2 {
        text-transform: capitalize;
    }
}

.followed-artist-flex{
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.review-flex {
    display: flex;
    flex-direction: column;
}
.review-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
}